.fav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fav-icon:not(.favorite) {
    color: black;
    transition: color 0.2s;
}

.fav-icon:not(.favorite):hover {
    color: red;
}

.fav-icon.favorite {
    color: red;
}

.fav-icon.favorite:hover {
    color: darkred;
}
